navbar {
	margin-bottom: 0;
}

body {
	background: #ffffff;
	color: #333;
}

h1{
	font-weight: bold;
	font-size: 16px;
}
h2 {
	font-weight: bold;
	font-size: 16px;
}
p {
	font-size: 16px;
	color: #cdcdcd;
}
.jumbotron {
	background: #d6e6f2;
	color: #09374d;
	text-align: center;
	font-size: 16px;
    padding-top: 0px;
	padding-bottom: 0px;
    margin-bottom: 0px;
}
.jumbotron p {
	color: #09374d;
	font-size: 16px;
}
.jumbotron h1 {
	color: #09374d;
	font-size: 32px;
}
.navbar-inverse {
	background: #2E2F31;
	border: 0;
}
.navbar-inverse .navbar-nav li a {
	color: #f7f7f7;
	font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover {
	background: #27A967;
}
.dropdown-menu {
	background: #2E2F31;
	border-radius: 0;
	border: 0;
}
.dropdown-menu li a {
	padding: 10px;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
	background: #2C463C;
}
.call-to-action {
	padding-top: 2px;
    padding-bottom: 2px;
	text-align: center;
}
.call-to-action p {
	padding-top: 2px;
    padding-bottom: 2px;
	font-family: sans-serif;

}
.glyphicon-large {
	font-size: 100px;
}

.call-to-action h2 {
	margin-bottom: 15px;
	padding: 10px;
	font-family: sans-serif;
	text-align: left;
	font-size: 32px;
}	
.call-to-action row {
	margin-bottom: 10px;

}